---
---

@import "{{ site.theme }}";

.wrapper {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

section {
	max-width: unset;
    padding: 30px 0px 50px 0px;
    margin: 20px 0;
    margin-top: 70px;

    #title {
        border: 0;
        outline: none;
        margin: 0 0 50px 0;
        padding: 0 0 5px 0;

        h1 {
            font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-size: 40px;
            text-align: center;
            line-height: 36px;
        }

        p {
            color: #d7cfbe;
            font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-size: 18px;
            text-align: center;
        }

        .credits {
            font-size: 11px;
            font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: normal;
            color: #696969;
            margin-top: -10px;

            &.left {
                float: left;
            }

            &.right {
                float: right;
            }
        }

    }
}